fastapi>=0.100.0
uvicorn[standard]>=0.20.0
python-multipart>=0.0.6
matplotlib>=3.0.0
numpy>=1.18.0
psycopg2-binary>=2.9.5
pandas>=1.5.0
QuantLib>=1.29
qdrant-client>=1.1.1
yfinance>=0.2.18
openai>=0.27.0
redis>=4.5.0
SQLAlchemy>=2.0.0
pymysql>=1.1.0
mysql-connector-python>=8.0.33
GitPython>=3.1.30
cx_Oracle>=8.3.0
xmltodict>=0.13.0